@keyframes expand-contract {
  0% {
    mask-image: radial-gradient(300px circle at center, white, transparent);
  }
  5% {
    mask-image: radial-gradient(325px circle at center, white, transparent);
  }
  10% {
    mask-image: radial-gradient(350px circle at center, white, transparent);
  }
  15% {
    mask-image: radial-gradient(375px circle at center, white, transparent);
  }
  20% {
    mask-image: radial-gradient(400px circle at center, white, transparent);
  }
  25% {
    mask-image: radial-gradient(425px circle at center, white, transparent);
  }
  30% {
    mask-image: radial-gradient(450px circle at center, white, transparent);
  }
  35% {
    mask-image: radial-gradient(475px circle at center, white, transparent);
  }
  40% {
    mask-image: radial-gradient(500px circle at center, white, transparent);
  }
  45% {
    mask-image: radial-gradient(525px circle at center, white, transparent);
  }
  50% {
    mask-image: radial-gradient(550px circle at center, white, transparent);
  }
  55% {
    mask-image: radial-gradient(575px circle at center, white, transparent);
  }
  60% {
    mask-image: radial-gradient(600px circle at center, white, transparent);
  }
  65% {
    mask-image: radial-gradient(625px circle at center, white, transparent);
  }
  70% {
    mask-image: radial-gradient(650px circle at center, white, transparent);
  }
  75% {
    mask-image: radial-gradient(675px circle at center, white, transparent);
  }
  80% {
    mask-image: radial-gradient(700px circle at center, white, transparent);
  }
  85% {
    mask-image: radial-gradient(725px circle at center, white, transparent);
  }
  90% {
    mask-image: radial-gradient(750px circle at center, white, transparent);
  }
  95% {
    mask-image: radial-gradient(775px circle at center, white, transparent);
  }
  100% {
    mask-image: radial-gradient(800px circle at center, white, transparent);
  }
}

.dot-pattern-mask {
  animation: expand-contract 2s linear infinite alternate;
}
